@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
   background-color: #282c34;
   color: white;
   font-family: Oswald;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2em;
}

.files {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 50%;
}

.files div {
   width: 250px;
   height: 50px;
   border-radius: 15px;
   background-color: #393f4a;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1em;
}

.files div:hover {
   background-color: #444b58;
}

.formContainer {
   height: 20vh;
   width: 40vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #3e4451;
   border-radius: 20px;
}

.fileName {
   cursor: pointer;
}

a {
   color: white;
   text-decoration: none;
}

.back {
   width: 40vw;
   height: 50px;
   border-radius: 15px;
   background-color: #393f4a;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1em;
   cursor: pointer;
}
